@using wordleboard.Constants

@{
    var wordleStartDate = AppConstants.WordleStartDate;

    var dayIndex = DateTime.Now.Subtract(wordleStartDate).Days;
}

<h4>Hello Wordler</h4>
<h4>@DateTime.Now.ToString("d MMMM yyyy"), @dayIndex</h4>
<br />