<h1 class="text-center my-5">Welcome to Wordleboard</h1>

<p class="text-center mb-5">Enter your Wordleboard account and log your results from the game <a href="https://www.nytimes.com/games/wordle/index.html">Wordle</a>, maintain a history, gets stats and even create leaderboards with your friends!</p>
